.p1_b{
    background-color: white;
    width: 350px;
    height: 600px;
    border-radius: 15px;
}
.img_qwe{
    padding: 8px;
}
.p5_b{
    height: 250px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pb{
    margin-bottom: 50px;
    display: flex;
}
.j{
    font-size: 26px;
    color: white;
}
.j1{
    color: white;
    font-size: 18px;
}
.j2{
    background-color: white;
    width: 350px;
    height: 50px;
    border-radius: 10px ;
}
.j3{
    font-size: 22px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #641CFF;
    width: 350px;
    height: 50px;
    border-radius: 10px ;
}
.j4{
    margin-left: 50px;
    height: 600px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
